<div class="row">
  <div class="col-md-12">
    <div class="col-12">
      <nb-card>
        <nb-card-header>cashreceiptvoucher form</nb-card-header>
        <nb-card-body>
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail" class="label">Email</label>
                  <input type="email" nbInput fullWidth id="inputEmail" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite" class="label">BankID</label>
                  <input type="text" nbInput fullWidth id="BankID" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite" class="label">IFSC</label>
                  <textarea nbInput fullWidth></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite" class="label">Website</label>
                  <textarea nbInput fullWidth placeholder="Message"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail" class="label">Email</label>
                  <input
                    type="email"
                    nbInput
                    fullWidth
                    id="inputEmail"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite" class="label">Website</label>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    id="inputWebsite"
                    placeholder="Website"
                  />
                </div>
              </div>
            </div>

            <button type="submit" nbButton>
              Submit
            </button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
