<div class="row">
    <div class="col-md-12">
        <div class="col-12">
            <nb-card>
                <nb-card-header>Receipt Add</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="salesAddForm">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="label">Series:</label>
                                    <nb-select formControlName="receiptSeries" class="position-select">
                                        <nb-option *ngFor="let p of positions " [value]="p.seriesDescription" fullWidth>

                                            {{ p.seriesDescription
                                            }}</nb-option>
                                    </nb-select>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Date" class="label">Date</label>

                                    <input nbInput [nbDatepicker]="formpicker" fullWidth id="Date"
                                        formControlName="receiptDate" />
                                    <nb-datepicker #formpicker></nb-datepicker>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Date" class="label">Vth NO</label>

                                    <input nbInput fullWidth id="receiptVH_noID" formControlName="receiptVH_no" />
                                    <nb-datepicker #formpicker></nb-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="label">Party:</label>
                                        <nb-select class="position-select" formControlName="receiptParty">
                                            <nb-option *ngFor="let p of partyList" [value]="p.partyName" fullWidth>
                                                {{ p.partyName
                                                }}</nb-option>
                                        </nb-select>

                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="VehicleNo" class="label">Narration</label>
                                    <input type="text" nbInput fullWidth id="VehicleNo"
                                        formControlName="receiptNarration" />
                                </div>
                            </div>
                            <div class="col-sm-4">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-2">
                                <button nbButton (click)="addrow()" [status]="'primary'">
                                    Addrow
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" nbButton (click)="deleterow()" [status]="'danger'">
                                    DeleteRow
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <receiptaddgrid></receiptaddgrid>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <button type="submit" nbButton (click)="submitForm()" [status]="'success'">
                                        Submit
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="pl-5">
                                    <button type="submit" nbButton (click)="clear()" [status]="'primary'">
                                        clear
                                    </button>
                                </div>
                            </div>
                        </div>



                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>