<div class="row">
    <div class="col-md-12">
        <div class="col-12">
            <nb-card>
                <nb-card-header>Purchase List</nb-card-header>
                <nb-card-body>
                    <form>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <purchaseListgrid (ondoubleClick)="doubleClick($event)"></purchaseListgrid>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <button type="submit" nbButton (click)="excelBtnOnClick()" [status]="'success'">
                                        export Xls
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <button type="submit" nbButton (click)="pdfBtnOnClick()" [status]="'success'">
                                        export pdf
                                    </button>
                                </div>
                            </div>

                        </div>

                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>