<div class="row">
    <div class="col-md-12">
        <div class="col-12">
            <nb-card>
                <nb-card-header>Delivery Challane Form</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="salesAddForm">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="Date" class="label">S.No</label>

                                    <input nbInput fullWidth id="" />

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Date" class="label">Date</label>

                                    <input nbInput [nbDatepicker]="formpicker" fullWidth id="Date"
                                        formControlName="purchaseDate" />
                                    <nb-datepicker #formpicker></nb-datepicker>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Date" class="label">Vehicle No</label>

                                    <input nbInput fullWidth id="purchaseVh_NoID" formControlName="purchaseVh_No" />

                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="VehicleNo" class="label">M/s</label>
                                    <input type="text" nbInput fullWidth id="VehicleNo"
                                        formControlName="purchaseNarration" />
                                </div>
                            </div>
                            <div class="col-sm-4">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-2">
                                <button nbButton (click)="addrow()" [status]="'primary'">
                                    Addrow
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" nbButton (click)="deleterow()" [status]="'danger'">
                                    DeleteRow
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <deliverygrid></deliverygrid>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <button type="submit" nbButton (click)="submitForm()" [status]="'success'">
                                        Submit
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="pl-5">
                                    <button type="submit" nbButton (click)="clear()" [status]="'primary'">
                                        clear
                                    </button>
                                </div>
                            </div>
                        </div>



                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>