<div class="row">
  <div class="col-md-12">
    <div class="col-12">
      <nb-card>
        <nb-card-header>DELIVERY CHALLAN</nb-card-header>
        <nb-card-body>
          <form [formGroup]="BankAccount">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="Series" class="label">Series.</label>
                  <input type="text" nbInput fullWidth id="Series" formControlName="Series" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="Date" class="label"> Date</label>

                  <input nbInput placeholder="Form Picker" [nbDatepicker]="formpicker" fullWidth id="Date"
                    formControlName="Date" />
                  <nb-datepicker #formpicker></nb-datepicker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="Vhc No" class="label">Vhc No</label>
                  <input type="text" nbInput fullWidth id="Vhc NO" formControlName="dcid" readonly />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="DCDate" class="label">D.C DATE</label>

                  <input nbInput placeholder="Form Picker" [nbDatepicker]="formpickerDate" fullWidth id="DCDate"
                    formControlName="DCDate" />
                  <nb-datepicker #formpickerDate></nb-datepicker>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="VehicleNo" class="label">Vehicle No</label>
                  <input type="text" nbInput fullWidth id="VehicleNo" formControlName="VehicleNo" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8"></div>
              <div class="col-sm-2">
                <button nbButton (click)="addrow()" [status]="'primary'">
                  Addrow
                </button>
              </div>
              <div class="col-sm-2">
                <button type="button" nbButton (click)="deleterow()" [status]="'danger'">
                  DeleteRow
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <addrepgrid></addrepgrid>
                </div>
              </div>
            </div>

            <button type="submit" nbButton (click)="submitForm()" [status]="'success'">
              Submit
            </button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>